.bodyLogin {
  background-image: url("../assets/Campo1.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}
// .bodyRegister {
//   height: 100vh;
//   font-family: "Concert One", cursive;
//   background-image: url("../assets/Campo2.jpg");
//   background-size: cover;
// }
