.welcomePage {
  background: url("../assets/Campo3.jpg");
  background-size: cover;
  min-height: 100vh;
}

.welcomePageBar {
  background: white;
  opacity: 0.9;
  font-family: "Concert One", cursive;
}
.bgMatch {
  background: url("../assets/BG-partite.jpg");
  background-size: cover;
}
