.homePageUser {
  min-height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 49%,
    rgba(214, 215, 212, 1) 100%
  );

  // background-image: url("../assets/BG_HomePageUser.jpg");
  // background-size: cover;
}
.cardPrenotazione {
  box-shadow: 4px 4px 4px 4px lightgray;
}

.sidebar {
  border-right: 1px lightgray solid;
  box-shadow: 4px 4px 4px 4px lightgray;
}

.searchSection {
  background-image: url("../assets/BG-SearchBar.jpg");
  background-size: cover;
  background-position: center;
  height: 35vh;
}

.bgSearch {
  // background-image: url("../assets/BG-searchfield.jpg");
  // background-size: cover;
  // background-position: center;
}
// .backgroundSearch {
//   background-image: url("../assets/Stadio.jpg");
//   background-size: cover;
// }
// .cardEvento {
//   box-shadow: 4px 4px 4px 4px lightgray;
// }
.cardEvento:hover {
  transform: scale(1.02);
  background-color: antiquewhite;
}
